Series

In [3]:
import pandas as pd

### Series

In [7]:
x = [45, 64, 32, 67, 23]
var = pd.Series(x,index= ["a","s","d", "f", "g"], dtype=float)
print(var)

a    45.0
s    64.0
d    32.0
f    67.0
g    23.0
dtype: float64

In [16]:
var1 = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7])
print(var1)

var2 = pd.Series((12),index = [1, 2, 3, 4])
print(var2)

print(var1 + var2)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
1    12
2    12
3    12
4    12
dtype: int64
1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

Data Frames

In [12]:
dic = {"Name": ["Ali", "Ahmed", "Omar", "Sara", "Lina"],
       "Age": [23, 43, 12, 34, 21],
       "Salary": [2000, 3000, 4000, 5000, 6000]}

var1 = pd.DataFrame(dic)
print(var1)

    Name  Age  Salary
0    Ali   23    2000
1  Ahmed   43    3000
2   Omar   12    4000
3   Sara   34    5000
4   Lina   21    6000

In [29]:
l = [[1, 2, 3, 4, 5, 6, 7], [12, 13, 14, 15, 16, 17, 18]]
var2 = pd.DataFrame(l, columns=["a", "b", "c", "d", "e", "f", "g"])

d = {"a": [1,2,3,4,5,6,7], "b": [12,13,14,15,16,17,18]}
print(var2)
var3 = pd.DataFrame(d)

print(var3)

    a   b   c   d   e   f   g
0   1   2   3   4   5   6   7
1  12  13  14  15  16  17  18
   a   b
0  1  12
1  2  13
2  3  14
3  4  15
4  5  16
5  6  17
6  7  18

In [4]:
d = {"a": [1, 2, 3, 4, 5], "b": [1, 2, 3, 4, 5], "c": [1, 2, 3, 4, 5], "d": [1, 2, 3, 4, 5]}
var4 = pd.DataFrame(d, columns=["b", "c"])
print(var4)

   b  c
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [11]:
d = {"a": [1, 2, 3, 4, 5], "b": [1, 2, 3, 14, 5], "c": [1, 2, 3, 4, 5], "d": [1, 2, 3, 4, 5]}
var5 = pd.DataFrame(d)
print(var5)
print(var5["b"][3])

   a   b  c  d
0  1   1  1  1
1  2   2  2  2
2  3   3  3  3
3  4  14  4  4
4  5   5  5  5
14

In [12]:
list_1 = [[1, 2, 3, 4, 5], [12, 13, 14, 15, 16]]

var6 = pd.DataFrame(list_1)
print(var6)

    0   1   2   3   4
0   1   2   3   4   5
1  12  13  14  15  16

In [13]:
sr = {"s": pd.Series([1, 2, 3, 4, 5, 6, 7]), "d": pd.Series([12, 13, 14, 15, 16, 17, 18])}
var7 = pd.DataFrame(sr)
print(var7)

   s   d
0  1  12
1  2  13
2  3  14
3  4  15
4  5  16
5  6  17
6  7  18